@import "shared";
.container{
  .filter{
    font-size: 30px;
    text-transform: uppercase;
    display: flex;
    column-gap: 100px;
    a:last-child{
      font-weight: 800;
      margin-left: auto;
    }
  }
  .quizes{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 70px;
    .card{
      cursor: pointer;
      .quiz-img {
        width: 280px;
        height: 380px;
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .infos{
        display: flex;
        .like{
          width: 30px;
          height: 30px;
          padding: 5px 5px;
          margin-left: auto;
          @include selectNone();
          @include initAnimation(imageGrow, 0.5s, 1);

        }
        .title{
          font-size: 25px;
          font-weight: 700;
          text-overflow: ellipsis;
          max-width: 280px;
          overflow:hidden;
          &:last-child{
            font-size: 20px;
            margin-top:5px;
          }
        }
      }

    }
    @include smaller(md){
    }
  }
}

