<div class="container">
  <div class="title-row">
    <div>
      <h4>Guess the <span class="green">name</span></h4>
      <h5>By  <span class="green">{{quiz[selectedQuiz].type}}</span></h5>
    </div>
    <div class="timer" *ngIf="gameStarted">00:{{20 - time}}</div>
  </div>
  <div class="input-box">
    <input #input [readonly]="!gameStarted" [formControl]="inputControl" placeholder="Type here after game started" >
    <div class="list">
     <div class="list-item" *ngFor="let item of searchList; let i = index"
           [ngClass]="{'grey': i === selectedItemIndex}"
           (click)="selectAnswer(item.id)" >{{item.title}} </div>
    </div>
  </div>
  <section class="game-container">
    <ng-container *ngIf="gameStarted; else start ">
      <ng-container *ngIf="quiz[selectedQuiz].type == GameType.Image">
        <app-image-quiz [time]="time" [image]="quiz[selectedQuiz].thumbnail"></app-image-quiz>
      </ng-container>

      <ng-container *ngIf="quiz[selectedQuiz].type == GameType.Shuffled">
        <app-shifting-image [time]="time" [image]="quiz[selectedQuiz].image"></app-shifting-image>
      </ng-container>

      <ng-container *ngIf="quiz[selectedQuiz].type == GameType.Word">
        <app-description-quiz [time]="time" [words]="quiz[selectedQuiz].words" ></app-description-quiz>
      </ng-container>

      <ng-container *ngIf="quiz[selectedQuiz].type == GameType.Emoji">
        <app-emoji-quiz [emojis]="quiz[selectedQuiz].emojiDescription" [time]="time" ></app-emoji-quiz>
      </ng-container>
    </ng-container>
  </section>

  <ng-template #start>
      <h1 (click)="startGame()" *ngIf="gamePlayed == 0">{{gameActionText}}</h1>
  </ng-template>
  <app-game-over-popup [result]="result" *ngIf="popupShown" (action)="handlePopupAction($event)"></app-game-over-popup>
</div>
