<div class="container">
  <div class="title-row" *ngIf="attempts < 5">
    <div>
      <h4>Guess the <span class="green">name of the Anime</span></h4>
    </div>
  </div>
  <div class="input-box" *ngIf="attempts < 5">
    <input #input [formControl]="inputControl" placeholder="Type here after game started" >
    <div class="list">
      <div class="list-item" *ngFor="let item of searchList; let i = index"
           [ngClass]="{'grey': i === selectedItemIndex}"
           (click)="selectAnswer(item.id)" >{{item.title}} </div>
    </div>
  </div>
  <section class="game-container">
    <ng-container *ngIf="attempts < 5">
      <div *ngFor="let c of clue">
        {{c}}
      </div>
    </ng-container>

    <div *ngIf="attempts > 4"> Sadly You lost the.</div>

  </section>

  <ng-template #start>
  </ng-template>
  <app-game-over-popup [result]="result" *ngIf="popupShown" (action)="handlePopupAction($event)"></app-game-over-popup>
</div>
