<h1>Welcome to <span class="green">Animle</span></h1>
<!-- img class="leaves" src="/assets/img/leaves1.png"-->

<section class="container">
  <!--img class="single-leaf" src="/assets/img/single.png"-->
  <section class="play">
    <article>
      <h5>Test your knowledge of anime with our exciting quiz game! We've carefully selected the top 500 anime series for you to guess based on images, emojis, or descriptions.
        (tried to exclude seasons which don't distinguishable descriptions) </h5>
    </article>
    <div class="game">
      <a routerLink="/random">
        <button class="main">
          Play Random Game
        </button>
      </a>

    </div>
  </section>
  <section class="play">
    <div class="game">
      <div routerLink="/daily">
        <button class="main">
          Play Daily Game
        </button>
      </div>
      <p>You must login</p>

    </div>
    <article>
      <h5>Are you a true anime fan? Prove it by correctly identifying the anime and earning points. Challenge your friends and see who can score the highest!</h5>
      <h5>Get started now and immerse yourself in the world of anime.</h5>
    </article>

  </section>



  <section class="versus">

    <article>
      <h5>Would you like to compete with others? Try versus mode.</h5>
    </article>

    <div class="game">
      <div routerLink="/versus">
        <button class="main">
          Play Versus mode
        </button>
      </div>
      <p>You must login</p>

    </div>



  </section>


</section>

